<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin Messaging App</title>
</head>
<body>
    <h1>Odin Messages App</h1>
    <form action="/messages" method="post">
        <label for="senderId">Sender ID:</label>
        <input type="text" id="sender-id" name="senderId"><br><br>
        <label for="recipientId">Recipient ID:</label>
        <input type="text" id="recipient-id" name="recipientId"><br><br>
        <label for="messages">Messages:</label>
        <textarea id="message-content" name="messages"></textarea><br><br>
        <button type="submit">Send Message</button>
    </form>
</body>
</html>


