<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin Messaging App</title>
</head>
<body>
    <h1>Odin Messages App</h1>
    <form action="/messages" method="post"> 
        <label for="senderUsername">Sender Username:</label>
        <input type="text" id="senderUsername" name="senderUsername">
        <br>
        <label for="recipientUsername">Recipient Username:</label>
        <input type="text" id="recipientUsername" name="recipientUsername">
        <br>
        <label for="messages">Messages:</label>
        <textarea id="messages" name="messages"></textarea>
        <br>
        <input type="submit" value="Send Message">
    </form>
</body>
</html>


